tickTime=2000
dataDir=/var/zookeeper
clientPort=2181
initLimit=5
syncLimit=2
{% for host in groups['masters'] %}server.{{ loop.index }}={{ "0.0.0.0" if host == inventory_hostname else host }}:2888:3888
{% endfor %}